---
import BaseV2 from './BaseV2.astro';
interface Props { title: string; activeRole?: string; }
const { title, activeRole } = Astro.props;
---
<BaseV2 title={title} activeRole={activeRole}><main><slot /></main></BaseV2>
